In [2]:
import numpy as np
import pandas as pd

from titanic_visualizations import survival_stats
from IPython.display import display
in_file = 'titanic_data.csv'
full_data = pd.read_csv(in_file)

display(full_data.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# get survived featus
outcomes = full_data['Survived']
data = full_data.drop('Survived', axis = 1)
# show the new data set with dropped data
display(data.head())

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
def accuracy_score(truth, pred):
    """ Returns accuracy score for input truth and predictions. """
    
    # Ensure that the number of predictions matches number of outcomes
    if len(truth) == len(pred): 
        
        # Calculate and return the accuracy as a percent
        return "Predictions have an accuracy of {:.2f}%.".format((truth == pred).mean()*100)
    
    else:
        return "Number of predictions does not match number of outcomes!"

In [36]:
## why generate a array of 1 ?
one = np.ones(5, dtype = int)

In [37]:
predictions = pd.Series(one)

In [30]:
outcomes[0:6]

0    0
1    1
2    1
3    1
4    0
5    0
Name: Survived, dtype: int64

In [38]:
print accuracy_score(outcomes[:5],predictions)

Predictions have an accuracy of 60.00%.

In [39]:
def predictions_0(data):
    predictions = []
    for _, passenger in data.iterrows():
        predictions.append(0)
    return pd.Series(predictions)

In [41]:
predictions = predictions_0(data)
print predictions

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    0
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    0
875    0
876    0
877    0
878    0
879    0
880    0
881    0
882    0
883    0
884    0
885    0
886    0
887    0
888    0
889    0
890    0
dtype: int64

In [42]:
print accuracy_score(outcomes, predictions)

Predictions have an accuracy of 61.62%.

In [44]:
survival_stats(data,outcomes,'Sex')

In [51]:
def predictions_1(data):
    predictions = []
    for _, passenger in data.iterrows():
        if passenger['Sex'] == 'female':
            predictions.append(1)
        else:
            predictions.append(0)
    return pd.Series(predictions)

In [52]:
predictions = predictions_1(data)

In [54]:
print accuracy_score(outcomes, predictions)

Predictions have an accuracy of 78.68%.

In [55]:
def predictions_2(data):
    predictions = []
    for _,passenger in data.iterrows():
        if passenger['Sex'] == 'female':
            predictions.append(1)
        else:
            if passenger['Age'] < 10:
                predictions.append(1)
            else:
                predictions.append(0)
    
    return pd.Series(predictions)

In [56]:
predictions = predictions_2(data)

In [57]:
print accuracy_score(outcomes, predictions)

Predictions have an accuracy of 79.35%.

In [182]:
def predictions_3(data):
    predictions = []
    for _,passenger in data.iterrows():
        if passenger['Sex'] == 'female':
            predictions.append(1)
        else:
            if passenger['Age'] < 10:
                predictions.append(1)
            else:
                
                if passenger['Age'] > 22 and passenger['Age'] < 40 and passenger['Pclass'] == 1:
                    predictions.append(1)
                else:                     
                    if passenger['Fare'] > 25 and passenger['Pclass'] == 3 and passenger['SibSp'] == 0:
                        predictions.append(1)
                    else:
                        predictions.append(0)
    
    return pd.Series(predictions)

In [183]:
predictions = predictions_3(data)
print accuracy_score(outcomes, predictions)

Predictions have an accuracy of 80.02%.

Predictions have an accuracy of 62.63%.